/* buyer dash stylesheet */

.header {
        position: relative;
        width: 100%;
}

.projects {
        position: relative;
        float: left;
}

.mailbox {
        position: relative;
        float: right;
}

.dashboard {
        border-top: 2px solid black;
        position: relative;
        clear: both;
}

#logo {
        float: right;
}

#account-buttons {
float: right;
  display: inline-block;
  padding-bottom: 2px;
  position: relative;
}