<!-- about.html -->
<!DOCTYPE html>
<html lang="en" ng-app="Portal">

<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>       
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli:light" rel="stylesheet"/>

    <link rel="stylesheet" href="/stylesheets/masterStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/infoPagesStyle.css"/>
</head>

<body>
    <div id="navbar">
        <a href="/views/index.html"><div id="logo"></div></a>
        <div id="choices-div">
            <ul id="index-ul">
                <a href="signIn.html"><li class="list-elems navbar-buttons">Sign In</li></a>
                <a href="help.html"><li class="list-elems navbar-buttons">Help</li></a>
                <a href="about.html"><li class="list-elems navbar-buttons">About</li></a>
            </ul>
        </div>

    </div>
    <div class="white-bar wb-left"></div>   
    <div class="white-bar wb-right"></div>
    <div id="footer"></div>
    <div id="image-back">
            <h2>About Us</h2>
            <div class="info-content">
                <p id="summary">
                    El Dorado is a RFP intermediary for life science and industrial manufacturers. El Dorado creates connections between buyers and sellers in niche industries. It allows buyers to search and request quotes in minutes.
                </p>
                <p>
                <span class="text-head">Vision:</span> For thousands of years, knowledge was shared and products were bought and sold in town squares. Town squares stimulated daily interactions between shopkeepers and prospective buyers. In the digital world, markets have expanded beyond main streets and town squares. The internet has made it easy to connect with companies across the country. However, this explosion of connectivity has made it harder than ever to pinpoint buyers and sellers for your business. Industry Square aims to be the sole marketplace for life science buyers and sellers. It aims to recreate the same connectivity that once existed in town squares.
                </p>
                <p>
                <span class="text-head">Mission:</span> Our mission is to create a flatter and more efficient marketplace for both life science buyers and sellers. We want to create an open market for life science companies of all sizes. A market that is accessible to life science buyers and sellers of all sizes.
                </p>
                <p>
                <span class="text-head">Values:</span> We are built on collaboration, creativity and a customer first mentality.
                    <br/><span class="text-head">Customer First Mentality</span> Industry Square strives to create a robust community of buyers and sellers. We place our customers at the center of our mission. We constantly aim to meet each and every one of our customers needs.
                    <br/><span class="text-head">Creativity</span> Industry Square utilizes creativity to provide cutting edge matching techniques for both buyers and sellers.
                    <br/><span class="text-head">Collaboration</span> Industry Square seeks collaboration with its users to offer them the features they need.
                </p>
                <p>
                <span class="text-head">Purpose:</span> Industry Square matches life science buyers with reliable sellers. Buyers can receive information on hundreds of life science products with only a couple of clicks. For sellers, Industry Square provides a market of eager buyers. It does not generate leads. It generates sales.
                </p>
            </div>
    </div>
</body>
</html>
