<!-- about.html -->
<!DOCTYPE html>
<html lang="en" ng-app="Portal">

<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>       
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli:light" rel="stylesheet"/>

    <link rel="stylesheet" href="/stylesheets/masterStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/infoPagesStyle.css"/>
</head>

<body>
    <div id="navbar">
        <a href="/views/index.html"><div id="logo"></div></a>
        <div id="choices-div">
            <ul id="index-ul">
                <a href="signIn.html"><li class="list-elems navbar-buttons">Sign In</li></a>
                <a href="help.html"><li class="list-elems navbar-buttons">Help</li></a>
                <a href="about.html"><li class="list-elems navbar-buttons">About</li></a>
            </ul>
        </div>

    </div>
    <div class="white-bar wb-left"></div>   
    <div class="white-bar wb-right"></div>
    <div id="footer"></div>
    <div id="image-back">
            <div class="info-content">
            About Us
            </div>
    </div>
</body>
</html>
