<!doctype html>
<html ng-app="Portal">
<head>
    <title>Industry Square Buyer Dashboard</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
    <script type="text/javascript" src="/scripts/buyer.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli:light" rel="stylesheet"/>

    <link rel="stylesheet" href="/stylesheets/masterStyle.css" />  
    <link rel="stylesheet" href="/stylesheets/dashboardStyle.css" />
</head>

<body ng-controller="BuyerController">

    <div id="navbar">
        <a href="/views/index.html"><div id="logo"> <img style='height: 100%; width: 100%;  background-size: cover' src="/images/logo2.gif"/> </div></a>
        <div id="choices-div">
            <ul id="index-ul">
                <a href="/views/index.html">Sign Out</a>
                |
                <a href="/views/help.html">Help</a>
            </ul>
        </div>
    </div>

    <div class="white-bar wb-left"></div>   
    <div class="white-bar wb-right"></div>

    <div id="image-back">
        <div class="dashboard"> 
            <ul class="tabrow">
                <li class="selected" id="projectTab" ng-click="selectProjectTab()">Projects</li>
                <li id="mailTab" ng-click="selectMailboxTab()">Mailbox</li>
                <li id="ratingsTab" ng-click="selectRatingsTab()">Ratings</a></li>
            </ul>
            
            <div class="section" id="projects" ng-hide="hideProjects">
                <div class="section-head">
                   <!--  <div id="gear-image"><img src="/images/gears.png"/></div> -->
                     <div id="proj-img">
                          <div> My Projects </div>
                    
                        
                            <ul id="proj-buttons-ul">
                            <a href="/views/newProject.html"><li class="button-option1 option-styles">+ New Project</li></a>
                            <li class="button-option1 option-styles">Current Projects</li>
                            <li class="button-option1 option-styles"> Past Projects </li>
                            </ul>

                    <div id="stock-img">
                        <div id="green">
                    </div>
            </div>
        
        </div>
                    

                   <!--  <div class="newproj-div">
                    <a  href="/views/newProject.html"><div class="newproj-button"> + New Project </div> </a>
                   </div> -->
                    <!--  <ul class="project-list" ng-repeat="project in projects">
                    <li class="project-short"><a href="/views/projectInfo.html">{{project.title}}</a>: {{project.dateCreated}}</li>
                </ul> -->
    </div>
                
              
                </div>
                

            

            <div class="section" id="mailbox" ng-hide="hideMailbox">
                <div class="section-head">Mailbox
                    <div id="mailbox-image"><img src="/images/gmail4.jpg"/></div>

                </div>
                
            </div>

            <div class="section" id="ratings" ng-hide="hideRatings">
                <div class="section-head"> Ratings </div>
            </div>

        </div>
    </div>

    <div class="footer"></div>

</body>
</html>
