<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>El Dorado</title>
    <link rel="stylesheet" href="/stylesheets/masterStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/indexStyle.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli:light" rel="stylesheet"/>
</head>

<body>

    <div id="navbar">
        <a href="/views/index.html"><div id="logo"></div></a>
        <div id="choices-div">
            <ul id="index-ul">
                <a href="signIn.html"><li class="list-elems navbar-buttons">Sign In</li></a>
                <a href="help.html"><li class="list-elems navbar-buttons">Help</li></a>
                <a href="about.html"><li class="list-elems navbar-buttons">About</li></a>
            </ul>
        </div>
    </div>

    <div class="white-bar wb-left"></div>   
    <div class="white-bar wb-right"></div>

    <div id="image-back">
        <div class="filler"></div>
        <div class="slogan1 border">
            <h2 class="style-h1"> We're changing the way Buyers meet Sellers.</h2>
        </div>
        <div class="wrapper-options">
            <div id="option1" class="border">
                <div class="style-h2"> 
                    <h2>Join our Network <h2>
                </div>
                <div class="button-signup">
                    <a href="signUp.html"><div class="button-words"> Request for Sign Up </div></a>
                </div>
            </div>
            <div id="option2" class="border">
                <div class="style-h2"> 
                    <h2> Need help?</h2> 
                </div>
                <div class="outer-demo">
                    <div class="button-demo"> Watch Demo </div>
                </div>
            </div>
        </div>
        <div id="footer"></div>
    </div>

</body>

</html>
