<!DOCTYPE html>

<html ng-app="Portal">
<head>
	<title>Sign Up Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"> </script>
    <script src="../scripts/index.js"></script>
    <link rel="stylesheet" href="../stylesheets/signUp.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Muli:light" rel="stylesheet">

</head>
<body ng-controller="AccountRequestController">
	<div id="navbar">
		<div id="choices-div">
		    <ul id="index-ul">
		    	<a href="signIn.html"><li class="list-elems navbar-buttons">Sign In</li></a>
		    	<a href="help.html"><li class="list-elems navbar-buttons">Help</li></a>
		    	<a href="about.html"><li class="list-elems navbar-buttons">About</li></a>
		    </ul>
		</div>

	</div>
	<div class="white-bar wb-left"></div>	
	<div class="white-bar wb-right"></div>
	<div id="footer"></div>
   <div id="image-back">
	<form class="form">
		 <h1 class = "title"> Request For Sign Up </h1> 
		 <p>
		 	<div class= "input-fields">  Name: </div>
		 	<input ng-model="accountName" type="text" class= "form-input"/> 
		 </p>

		  <p>
		 	<div class= "input-fields">  Company Name: </div>
			<input ng-model= "companyName" type="text" class= "form-input"/> 
		 </p>

		  <p>
		 	<div class= "input-fields">  Account type: </div>
		 	<select ng-model="buyerAccount" class= "form-input select-style">
		 		<option value="1">Buyer</option>
		 		<option value="0">Seller</option>
		 	</select>
		 </p>

		  <p>
		 	<div class= "input-fields"> Email: </div>
		 	<input ng-model= "email" type="text" class= "form-input" ng-keypress="keypressRequest($event)"/>
		 </p>
           <div ng-click="sendAccountRequest()" class= "request-div">
              <div class="request-button"> Submit </div>
           </div>
	<form>
	</div>
</body>
</html>
