/* Index page stylesheet */
html {
    height: 100vh;
    width: 100vw;
}

#image-back {
    background-image: url("/images/background-office.jpg");
    
}



/*
#index-div {
    height: 55px;
    width: 100%;
    padding-top: 15px;
    overflow: hidden;
} */

/*
.index-choices {
    font-family: 'Muli', "Courier New";
    color: #FFFFFF;
    font-weight: 100;
    font-size: 20px;
    display: inline;
    padding-right: 20px;
}
*/
.button-signup{
    border-style: solid;
    background-color: #23C4EB;
    border-color: #23C4EB;
    border-width: 2px;   
    border-radius: 5px;
    width: 190px;
    height: 30px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
}

.outer-demo {
    width: 145px;
    height: 30px;
    border-style: solid;
    background-color: #23C4EB;
    border-color: #23C4EB;
    border-width: 2px;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.button-demo {
    width: 145px;
    height: 30px;
    color: #FFFFFF;
    font-weight: 100;
    font-size: 17px;
    text-align: center;
    padding-top: 5px;
}

.button-words {
    height: 30px;
    width: 190px;
    color: #FFFFFF;
    font-weight: 100;
    font-size: 17px;
    text-align: center;
    padding-top: 5px;
    margin: auto;
}

.slogan1 {
    left: 0;
    right: 0;
    height: 180px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:  #FFFFFF;
    font-weight: 100;
    font-size: 35px;
    background-color: rgba(0,0,0,0.3);
    padding-top: 20px;
}

.wrapper-options {
    height: 200px;
    width: 804px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

#option1 {
    text-align: center;
    color: #FFFFFF;
    /*background-color: rgba(0,0,0,0.3);*/
    background-color: rgba(252,74,26,0.5);
    float:left;
    display:inline-block;
    height: 200px;
    width: 350px;
    overflow: hidden;
}

#option2 {
    text-align:center;
    color:  #FFFFFF;
    background-color: rgba(0,0,0,0.3);
    float:right;
    display:inline-block;
    height: 200px;
    width: 350px;
    overflow: hidden;
}

.border {
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 2px;
}

.style-h1 {
    margin-top:0px;
    margin-bottom: 10px;
}

.style-h2 {
    color:#FFFFFF;
    font-weight: 100;
    font-size: 20px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10%;
    text-align:center ;
}


.filler {
    height:100px;
    width:800px;
}