/* stylesheet for help and about pages */

html {
    height: 100vh;
}

.info-content {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 100px;
}

.text-head {
	font-weight: bold;
}

#summary {
	font-weight: bold;
}