/* Master Stylesheet */

html {
    font-family: 'Muli', "Courier New";
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
}

a {
    text-decoration: none;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#image-back {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/************* Navbar Styling ****************/
#navbar {
    height: 70px;
    width: 100%;
    background-color: #f7f7f7;
    
}

.navbar-buttons {
    border-style: solid;
    background-color: #2CC185;
    border-color: #2CC185;
    border-width: 2px;
    border-radius: 5px;
}

.list-elems {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 15px;
    display: inline;
    margin-right: 30px;
    padding: 5px;
}


#logo {
    margin-top: 0;
    margin-left: 0;
    height: 50px;
    width: 300px;
    padding-left: 20px;
    display: inline-block;
    /*background-image: url("/images/IndustrySquare.jpg");*/
}

#choices-div {
    height: 40px;
    width: 320px;
    float: right;
    display: inline-block;
    margin-right: 0;
    padding-top: 10px;
}

#index-ul {
    margin: 0px;
    padding-top: 8px;
    height: 40px;
    width: 400px;
}

/********** Spacing Divs *********/
.white-bar {
    width:10px;
    height:100%;
    background-color: #FFFFFF;  
}

.wb-left {
    float:left;
}

.wb-right {
    float:right;
}

#footer {
    position: fixed;
    height: 10px;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
}